body {
    background-color: #fff;
    font-family: 'Assistant', sans-serif;
    color: #063858;
}

// Navbar 
.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #063858;
            &.active {
                font-weight: bold;
                color: #063858 !important;
            }
        }
    }
}

.navbar-brand {
    img {
        max-height: 40px;
    }
}

.btn-login {
    background-color: #063858;
    color: #ffffff;
    &:hover {
        background-color: #14496B;
        color: #ffffff;
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;
    height: 70px;
    border-radius: 0;
}

// Header
header {
    padding: 180px 0px 165px;
    margin-top: -70px;
    background-image: url(/frontend/images/banner.jpg);
    background-size: cover;
    h1,
    p {
        color: #fff;
    }
    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;
    }
    p {
        font-size: 22px;
    }
    .btn-get-started {
        background-color: #FF7E00;
        color: #fff;
        &:hover {
            background-color: #F28B27;
            color: #fff;
        }
    }
}

// STATISTIC 
.section-stats {
    margin-top: -50px;
    .stats-detail {
        padding-top: 15px;
        background-color: #fff;
        padding-left: 40px;
    }
    h2 {
        font-size: 32px;
        margin-bottom: 0px;
    }
    p {
        font-size: 20px;
        font-weight: 300;
    }
}

// POPULAR
.section-popular {
    min-height: 540px;
    // max-width: 100%;
    background-color: #06283D;
    margin-top: -50px;
    margin-bottom: -230px;
    .section-popular-heading {
        margin-top: 150px;
        h2,
        p {
            color: #fff;
        }
        h2 {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;
        }
        p {
            font-size: 18px;
        }
    }
}

// POPULAR CONTENT
.section-popular-content {
    .section-popular-travel {
        .card-travel {
            min-height: 380px;
            // min-width: 260px;
            background-color: #ddd;
            color: #fff;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
        }
        .travel-country {
            font-size: 18px;
            color: #fff;
        }
        .travel-location {
            font-size: 26px;
            color: #fff;
        }
        .travel-button {
            .btn-travel-details {
                background-color: #FF7E00;
                color: #fff;
                &:hover {
                    background-color: #F28B27;
                    color: #fff;
                }
            }
        }
    }
}

.section-networks {
    background-color: #fff;
    margin-top: -170px;
    padding-top: 240px;
    // margin-bottom: 20px;
    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }
    p {
        font-size: 18px;
    }
    img {
        max-width: 100%;
    }
}

// TESTIMONAL
.section-testimonial-heading {
    background-image: linear-gradient(#fff 0%, #F7F9FF 100%);
    padding-top: 100px;
    min-height: 506px;
    margin-bottom: 50px;
    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }
    p {
        font-size: 18px;
    }
}

.section-testimonial-content {
    margin-top: -300px;
    padding-bottom: 50px;
    .card {
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;
    }
    .testimonial-content {
        min-height: 380px;
    }
    h3 {
        font-size: 22px;
    }
    .testimonial {
        font-weight: 300;
        font-size: 26px;
        color: #6e6e6e;
        min-height: 160px;
    }
    .trip-to {
        font-weight: normal;
        font-size: 22px;
        color: #6e6e6e;
    }
    hr {
        margin-left: -20px;
        margin-right: -20px;
    }
    .btn-get-started {
        background-color: #FF7E00;
        color: #fff;
        &:hover {
            background-color: #F28B27;
            color: #fff;
        }
    }
    .btn-need-help {
        background-color: #F2F2F2;
        color: #707070;
        &:hover {
            background-color: #F28B27;
            color: #fff;
        }
    }
}

.section-footer {
    h5 {
        color: #063858;
        font-weight: bold;
    }
    a {
        color: #063858;
        text-decoration: none;
    }
}

// DETAILS
.section-details-header {
    min-height: 310px;
    background-color: #E4E6EB;
    margin-top: -70px;
}

.section-details-content {
    margin-top: -210px;
    min-height: 100vh;
    .breadcrumb {
        padding: 0;
        margin-bottom: 30px;
    }
    .breadcrumb-item {
        &.active {
            font-weight: bold;
            color: #063858;
        }
    }
    .gj-datepicker {
        .datepicker {
            border-right: 0;
        }
        .input-group-append {
            .btn {
                border-left: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                padding-right: 10px;
            }
        }
    }
    .btn-add-now {
        background-color: #063858;
        color: #fff;
        &:hover {
            background-color: #14496B;
        }
    }
    h3 {
        font-weight: 600;
        font-size: 14px;
        color: #063858;
    }
    .disclaimer {
        font-weight: 300;
        font-size: 14px;
        color: #b1b1b1;
    }
    .card-details {
        padding: 30px;
        border-radius: 11px;
    }
    h1 {
        font-size: 26px;
    }
    h2 {
        font-weight: 600;
        font-size: 20px;
    }
    p {
        font-size: 18px;
        color: #B1B1B1;
    }
    .card-right {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
    }
    .trip-information {
        th {
            font-weight: 300;
            font-size: 18px;
            color: #063858;
        }
        td {
            font-weight: 300;
            font-size: 18px;
            color: #B1B1B1;
        }
        .text-blue {
            font-weight: bold;
            color: #063858;
        }
        .text-orange {
            font-weight: bold;
            color: #F28B27;
        }
    }
    .payment-instruction {
        font-weight: 300;
        font-size: 14px;
        color: #b1b1b1;
    }
    .bank {
        .bank-item {
            h3 {
                font-size: 18px;
                color: #063858;
                margin-bottom: 0;
            }
            p {
                margin-bottom: 0;
            }
            .description {
                margin-bottom: 8px;
                margin-left: 10px;
                overflow: hidden;
                float: left;
                p {
                    font-weight: normal;
                    font-size: 16px;
                    color: #063858;
                }
            }
        }
        .bank-image {
            width: 45px;
            height: 45px;
            float: left;
        }
    }
    .features {
        margin-top: 20px;
        h3 {
            font-size: 18px;
            color: #063858;
            margin-bottom: 0;
        }
        p {
            margin-bottom: 0;
        }
        .description {
            margin-left: 10px;
            overflow: hidden;
            float: left;
        }
        .features-image {
            width: 45px;
            height: 45px;
            float: left;
        }
    }
    .gallery {
        .xzoom-container {
            display: block;
        }
        .xzoom {
            width: 100%;
            box-shadow: none;
            margin-bottom: 10px;
        }
        .xzoom-thumbs {
            margin-left: -5px;
        }
        .xactive {
            border: 4px solid #1ABC9B;
            box-shadow: none;
        }
    }
    .join-container {
        margin-top: -16px;
    }
    .btn-join-now {
        background-color: #FF7E00;
        color: #fff;
        border-radius: 0;
        &:hover {
            background-color: #FF9F41;
            color: #fff;
        }
    }
}

.section-success {
    height: 90vh;
    h1 {
        font-weight: 600;
        font-size: 26px;
        color: #063858;
    }
    p {
        font-weight: 300;
        font-size: 18px;
        color: #b1b1b1;
    }
    .btn-home-page {
        border-radius: 4px;
        background-color: #063858;
        color: #fff;
        &:hover {
            background-color: #14496B;
            color: #fff;
        }
    }
}